* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    background: #ed66d2;
    background-image: linear-gradient(to bottom, #ed66d2, #a7a4ed);
    border-radius: 28px;
    font-family: Arial;
    color: black;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-left: 10px;
    width: 50%;
}

.btn:hover {
    background: #009dff;
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    width: 50vw;
    height: 50vh;
    margin: 0 auto;
    text-align: center;
}
.center{
    width: 100%;
}